@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
	<h1 style="color:darkcyan">10 best clubs in Premier League</h1>
	<p class="lead">
		<style type="text/css">
			.tg {
				border-collapse: collapse;
				border-spacing: 0;
			}

				.tg td {
					border-bottom-width: 1px;
					border-color: black;
					border-style: solid;
					border-top-width: 1px;
					border-width: 0px;
					font-family: Arial, sans-serif;
					font-size: 14px;
					overflow: hidden;
					padding: 10px 5px;
					word-break: normal;
				}

				.tg th {
					border-bottom-width: 1px;
					border-color: black;
					border-style: solid;
					border-top-width: 1px;
					border-width: 0px;
					font-family: Arial, sans-serif;
					font-size: 14px;
					font-weight: normal;
					overflow: hidden;
					padding: 10px 5px;
					word-break: normal;
				}

				.tg .tg-0lax {
					text-align: left;
					vertical-align: top
				}

				.tg .tg-a8eg {
					font-size: 28px;
					text-align: left;
					vertical-align: top;
					color: green
				}

				.tg .tg-vos7 {
					font-family: Arial, Helvetica, sans-serif !important;
					;
					font-size: 24px;
					text-align: left;
					vertical-align: top
				}

				.tg .tg-y15w {
					font-family: Arial, Helvetica, sans-serif !important;
					;
					font-size: 24px;
					text-align: left;
					vertical-align: top
				}

				.tg .tg-tf2e {
					text-align: left;
					vertical-align: top
				}
		</style>
		<table class="tg">
			<thead>
				<tr>
					<th class="tg-0lax"></th>
					<th class="tg-a8eg">Club</th>
					<th class="tg-a8eg">Played</th>
					<th class="tg-a8eg">Won</th>
					<th class="tg-a8eg">Points</th>
					<th class="tg-0lax"></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="tg-vos7">1</td>
					<td class="tg-vos7">Manchester City</td>
					<td class="tg-vos7">30</td>
					<td class="tg-vos7">22</td>
					<td class="tg-vos7">71</td>
					<td><li>@Html.ActionLink("See this team's players", "Index", "ManchasterCityPlayers")</li></td>

				</tr>
				<tr>
					<td class="tg-vos7">2</td>
					<td class="tg-vos7">Manchaster United</td>
					<td class="tg-vos7">29</td>
					<td class="tg-vos7">16</td>
					<td class="tg-vos7">57</td>

				</tr>
				<tr>
					<td class="tg-vos7">3</td>
					<td class="tg-vos7">Leicester City</td>
					<td class="tg-vos7">29</td>
					<td class="tg-vos7">17</td>
					<td class="tg-vos7">56</td>

				</tr>
				<tr>
					<td class="tg-vos7">4</td>
					<td class="tg-vos7">Chelsea</td>
					<td class="tg-vos7">29</td>
					<td class="tg-vos7">14</td>
					<td class="tg-vos7">51</td>

				</tr>
                <tr>
                    <td class="tg-vos7">5</td>
                    <td class="tg-vos7">West Ham United</td>
                    <td class="tg-vos7">29</td>
                    <td class="tg-vos7">13</td>
                    <td class="tg-vos7">46</td>
                    <td><li>@Html.ActionLink("See this team's players", "Index", "WestHamUnitedPlayers")</li></td>

                </tr>
                <tr>
                    <td class="tg-vos7">6</td>
                    <td class="tg-vos7">Liverpool</td>
                    <td class="tg-vos7">18</td>
                    <td class="tg-vos7">14</td>
                    <td class="tg-vos7">46</td>
                    <td><li>@Html.ActionLink("See this team's players", "Index", "LiverpoolPlayers")</li></td>

                </tr>
                <tr>
                    <td class="tg-vos7">7</td>
                    <td class="tg-vos7">Everton</td>
                    <td class="tg-vos7">28</td>
                    <td class="tg-vos7">13</td>
                    <td class="tg-vos7">45</td>
                    <td><li>@Html.ActionLink("See this team's players", "Index", "EvertonPlayers")</li></td>

                </tr>
                <tr>
                    <td class="tg-vos7">8</td>
                    <td class="tg-vos7">Tottenham Hotspur</td>
                    <td class="tg-vos7">28</td>
                    <td class="tg-vos7">13</td>
                    <td class="tg-vos7">45</td>
                    <td><li>@Html.ActionLink("See this team's players", "Index", "TottenhamHotspurPlayers")</li></td>

                </tr>
                <tr>
                    <td class="tg-vos7">9</td>
                    <td class="tg-vos7">Aston Villa</td>
                    <td class="tg-vos7">27</td>
                    <td class="tg-vos7">12</td>
                    <td class="tg-vos7">42</td>
                    <td><li>@Html.ActionLink("See this team's players", "Index", "AstonVillaPlayers")</li></td>

                </tr>
                <tr>
                    <td class="tg-vos7">10</td>
                    <td class="tg-vos7">Arsenal</td>
                    <td class="tg-vos7">29</td>
                    <td class="tg-vos7">12</td>
                    <td class="tg-vos7">41</td>
                    <td><li>@Html.ActionLink("See this team's players", "Index", "Players")</li></td>

                </tr>


			</tbody>

		</table>
		


</div>

<div class="row">
    <div class="col-md-4">
		<h2>Premier League</h2>
		<p>
			See full Premier League Table and learn more about your favorite clubs, upcoming events and latest news
		</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">View &raquo;</a></p>
    </div>
    <div class="col-md-4">
		<h2>Watch games</h2>
		<p>Watch your favorite games live, catch up on previous games and explore football.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">View &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Most popular players</h2>
        <p>See the league table of most popular players and support your favorite player</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">View &raquo;</a></p>
    </div>
</div>